*
{
    margin: 0;
    padding: 0;
    
}
.taskbar
{
    background-color: rgb(41, 40, 44);
    display: flex;
   height: 200px;
    align-items: center;
    border-bottom: 10px solid rgb(109, 102, 102);
}

.header-h1
{
    
    height: 45%;
    padding-left: 40px;
    padding-top: 30px;
    color: #fff;
  
}
.msrit-img
{
   height:45px;
   width: 150px;
   padding: 20px;
}

.content
{
  background-color: rgb(231, 223, 223);
  height: 410px;
  width: 200px;
  border-right: 5px solid rgb(68, 70, 68);
}
.content ul
{  justify-content: space-between;
    padding-top: 35px;
}

.content ul li a:active{
text-decoration: none;
}

.nav
{
    background-color: gainsboro;
    width: 100%;
    height: 360px;
    padding: 25px;
    overflow: hidden;
    padding-right: 150px;
}

.nav h1{
  
    border: 3px solid rgb(104, 70, 70);
    padding: 25px;
    display: flex;
    width: 400px;

}
.footer
{  border-top: 5px solid rgb(39, 37, 37);
    padding-top: 35px;
    height: 70px;
    text-align: center;
   
}

.main{
    width: 100%;
    display: flex;
}

.con-1
{
    min-height: 400px;
}

#con-1
{
    min-height: 450px;
    padding-top: 15px;
}